@import 'variables';

.layout-wrapper{
  background-color: $white-blue;
  width: 100vw;
  max-width: 1400px;
  padding-top: 35px;
  & > div{
    background-color: white;
  }
}

@media screen and (min-width: 320px) and (max-width: 600px){
    
    @mixin mobile-base-style{
        max-width: none;
        border-radius: 0;
        border: none;
        box-shadow: none;
        border-top-left-radius: none;
        border-top-right-radius: none;
    }

    .layout-wrapper{
        padding-top: 0;
        background-color: white;
    }
    
    .profile{
        width: 85%;
        @include mobile-base-style;
    }
    
    .price{
        width: 80%;
        padding-left: 5px;
        height: 300px;
        padding-top: 0;
        @include mobile-base-style;
        margin: 15px auto;

        & > div{
            &:nth-child(2){
                align-items: center;
            }
            * {
                padding-left: 0;
                text-align: center;
            }
        }

        &__button-container{
            width: 100%;
            button{
                height: 55%;
                img{
                    margin-right: 5px;
                }
            }
            
        }
    }
      
    .checkout{
        width: 80%;
        @include mobile-base-style;
        padding-left: 20px;
        height: 800px;
        margin: 25px auto;
        & > div{
            text-align: center;
            width: 100%;
        }
        
        &__primary-title{
            font-size: 24px;
        }

        &__secondary-paragraph{
            padding: 10px 0 0 30px;
            font-size: 18px;
            line-height: 25px;
        }
        &__small-business-selection-price{
            font-size: 30px;
        }
        &__small-business-selection-price-year{
            font-size: 20px;
            transform: translate(5px, 5px);
        }
        &__small-business-selection-container{
            margin-top: 50px;
            flex-direction: column;
            width: 95%;
        }
        &__small-business-selection-primary-title{
            font-size: 16px;
        }
        &__small-business-selection-primary-sub-title{
            font-size: 14px;
        }

        &__credit-card-payment-details{
            margin-top: 70px;
            &__details{
                width: auto;
                
            }
            &--1{
                align-items: center;
                justify-content: space-evenly;
                flex-direction: row;
                width: 100%;
                margin: 30px auto;
                height: 50px;
                & > div *{
                    margin-left: 0;
                    font-size: 18px;
                    margin-left: 20px;
                }
                input{
                    position: relative;
                    right: 0;
                    height: 30px;
                    width: 60px;

                    &::placeholder{
                        font-size: 14px;
                        transform: translateX(-2px);
                    }
                }
            }
            &--2{
                align-items: center;
                justify-content: space-evenly;
                flex-direction: row;
                width: 100%;
                margin: 30px auto;
                height: 50px;
                & > div *{
                    margin-left: 0;
                    font-size: 18px;
                    margin-left: 20px;
                }
                input{
                    position: relative;
                    right: 0;
                    height: 30px;
                    width: 60px;
                    &::placeholder{
                        font-size: 14px;
                        transform: translateX(-2px);
                    }
                }
            }


        }

        &__proceed-to-payment-button{
            align-items: center;
            height: 60px;
            font-size: 18px;
            white-space: nowrap;
            padding: 0 20px 0 20px;
        }

        &__email-address-input{
            margin: 40px 0 40px 0;
            height: 40px;
        }

        &__add-payment-method-container-title{
            font-size: 18px;
        }
      }  
}

@media screen and (min-width: 600px){
  .price{
    width: 75%;
    max-width: none;
  }
  .profile{
    width: 80%;
    max-width: none;
  }

  .checkout{
    width: 70%;
    max-width: none;

    &__small-business-selection-container{
        width: 100%;
    }

    &__credit-card-payment-details{
        &__logo{
            display: block;
        }
    }
  }
  
}


@media screen and (min-width: 1000px) {
    .layout-wrapper{
        display: grid;
        grid-template-columns: 2 span;
        grid-template-rows: 2 span;
        grid-auto-flow: row;
        grid-gap: 20px;
        padding: 20px;
        margin: 0 auto;
    }
     
    .price{
       padding: 45px 0;
       width: 475px;
    }
    .profile{
        width: 465px;
    }

    .checkout{
        grid-column: 1 / span 2;
        margin: 0 auto;
        width: 650px;

        &__small-business-selection-icon{
            display: flex;
        }

        &__small-business-selection-container{
            flex-direction: row;
        }
        &__small-business-selection-container{
            width: 630px;
        }
    }
}

@media screen and (min-width: 1200px) {
  .layout-wrapper{
    display: grid;
    grid-template-columns: 2 span;
    grid-template-rows: 2 span;
    grid-gap: 20px;
    padding: 20px;
  }

  .price{
    grid-column: 2;
    grid-row: 2;
  }

  .profile{
    grid-column: 2;
    grid-row: 1;
  }

  .checkout{
    margin: 0 auto;
    grid-row: 1 / span 2;
    grid-column: auto;
    &__small-business-selection-container{
        flex-direction: row;
    }
  }
}